
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,700');


body {
    padding: 50px;
    background-color: beige;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
}

h1 {
    color: #ff0000;
    font-weight: 700;
}



img.portada {
    height: 300px;
    border: 1px blue solid;
    padding: 10px;
    margin: 30px;
}
 
figure.portada  {
    border: 1px dashed blue;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    text-align: center;
    background-color: white;
}

figure.portada img  {
    width: 250px;
    border-radius: 10px;
}

div.circulos div {
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50px;
    font-size: 50px;
    background-color: blue;
    color: white;
    text-align: center;
    display: inline-block;
}

div.circulos div.derecha {
    float: right;
}

div.circulos div.izquierda {
    float: left;
}

div.circulos {
    text-align: center;
}